<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dayscab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaysCab">
        <activity
            android:name=".driver.activities.AddBankAccAct"
            android:exported="true" />
        <activity
            android:name=".driver.activities.UploadVehicleAct"
            android:exported="true" />
        <activity
            android:name=".user.activities.TrackAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activities.RideOptionAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activities.RideHistoryAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activties.VerifyAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activties.ForgotPasswordAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activities.UserHomeAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activties.SignUpAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activties.StartAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activties.LoginAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activties.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />
    </application>

</manifest>